venv/
__pycache__/
*.pyc
.DS_Store
ground_control.db
ground_control_dashboard.html
logs/
images/
*.log
*.pkl
.vercel
*.png
*.svg
neighbourhood_coords.json

# Ignore all root-level html except public/
*.html
!public/
!public/index.html
!public/listings.json
